<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <h3>Customers Content Area</h3>
    <div>
        <div id="tree" style="width: 180px;height: auto;"
             data-bind="ojComponent:
               {
                 component: 'ojTree',
                 selectionMode: 'multiple',
                 data:{data: getJson}
               }">
        </div>
    </div>
</div>
