<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div class="oj-hybrid-padding">
    <h3>Dashboard Content Area</h3>
    <div>
        <table id="table" summary="Department List" aria-label="Departments Table"
               data-bind="ojComponent: {component: 'ojTable', 
                                data: datasource, 
                                selection: currentSelection,
                                selectionMode: {row:'single',column: 'none'},
                                columnsDefault: {sortable: 'none'}, 
                                columns: [{headerText: 'Department Id', 
                                           field: 'DepartmentId'},
                                          {headerText: 'Department Name', 
                                           field: 'DepartmentName'},
                                          {headerText: 'Location Id', 
                                           field: 'LocationId'},
                                          {headerText: 'Manager Id', 
                                           field: 'ManagerId'}]}">
        </table>
        <br/>
        Selected: <span data-bind="text: selectedItem"></span>
    </div>
</div>