<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Default settings</h1>

<table data-bind="ojComponent: {component: 'ojTable', 
            data: dataSource,
            columns: [
                {headerText: 'id', field: 'default_setting_id'},
                {headerText: 'default', field: 'is_default'},
                {headerText: 'name', field: 'setting_name'},
                {headerText: 'value', field: 'setting_value'}
            ]
        }">
</table>
