<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>deployments</h1>

<table data-bind="ojComponent: {component: 'ojTable',
            data: dataSource,
            columns: [
                {headerText: 'id', field:'user_resource_id'},
                {headerText: 'date', field:'creation_date'},
                {headerText: 'name', field:'name'},
                {headerText: 'version', field:'version'},
            ]
        }">
</table>

<!--
{
      "user_resource_id": 100,
      "creation_date": "2016-08-09T16:27:24.469Z",
      "is_deployed": 1,
      "name": "default.war",
      "repository_name": "default.war",
      "state": null,
      "sys_id": null,
      "version": 1,
      "application_id": 140,
      "links": [
        {
          "rel": "self",
          "href": "https://devapex.cern.ch/ords/devdb11/cerndb_mwctl_a_01_dev/deployment/100"
        }
      ]
    }
-->